<!DOCTYPE html>
<html>
<head>
    <title>React App Demo</title>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <div id="root"></div>
    <script type="text/babel">
       
         // create variable with unescaped JS data from server
        const items = JSON.parse('<%- items %>');

        const Greeting = (props) => {
            if (props.name) {
                return <h1>Hello!, {props.name}</h1>;
            }
            return <h1>Hello!</h1>;
        };
        
        const Item = ({ id, name }) => {
            return <li><a href={`/details/${id}`}>{name}</a></li>;
        };

        const List = ({ items }) => {
            console.dir(items)
            return (
                <ul className="item-list">
                    {items.map(item => <Item key={item._id} id={item._id} name={item.title} />)}
                </ul>
            );
        };
    
        const divStyle = {
        color: 'gray',
        backgroundImage: 'url(background_image.png)'
    };

        // const listItems = names.map((item) => <li key={item}>{item}</li>);

        const App = () => {
            return (
                <> 
                    <h1 id="title">React Demo</h1>
                    <Greeting name={'Students'} />
                    <h2>Items List</h2>
                    <List items={items} />
                </>
            )
        }

        const root = ReactDOM.createRoot(document.getElementById("root"));
        root.render(
          <React.StrictMode>
            <App />
          </React.StrictMode>
        );

        // ReactDOM.render(<App />, document.getElementById('root'));
    </script>
  </body>
</html>