<!DOCTYPE html>
<html >
<head>
    
    <title>Home</title>
</head>
<body>
    <h1>Home detail</h1>
    <ul>
        <% items.forEach(item => { %>
            <li><a href="/detail?key=<%= item.carModel %>"><%= item.carModel %></a></li>
        <% }) %>
    </ul>
</body>
</html>
